certifi==2019.3.9
chardet==3.0.4
Cython==0.29.6
Django==1.11.20
idna==2.8
joblib==0.13.2
numpy==1.16.2
pandas==0.24.1
py-stringmatching==0.4.1
py-stringsimjoin==0.3.0
PyPrind==2.11.2
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
six==1.12.0
urllib3==1.26.5
