{% load staticfiles %}
<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/show_page.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Profiler</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/myapp/list">Home</a></li>
            <li><a href="/myapp/help">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
      {% block content %}
      {%  endblock %}
<script>
$( document ).ready(function() {
    $('a').each(function(){
        if ($(this).prop('href') == window.location.href) {
            $(this).parents('li').addClass('active');
	} else {
            $(this).parents('li').removeClass('active');
	}
    });
});
{% block script %}
{%  endblock %}
</script>
    </body>
</html> 
