{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Select or Upload File
          <i class="helpicon fa fa-question-circle" style="font-size: 24px;" data-toggle="modal"
            data-target="#myModal"></i>
        </h1>
        <p class="lead">Choose from amongst the three options</p>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#existing">
          Choose from Existing Files
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadLocal">
          Upload from Local
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadCDrive">
          Upload from C Drive
        </button>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <div id="existing" class="collapse">
          <div class="well bs-component">
            <form action="{% url 'sample' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              <fieldset>
                <legend>Choose from Existing Files </legend>

                <div class="form-group">
                  <div class="col-lg-12">
                    {% csrf_token %}
                    {% if all_documents %}
                    {% for document in all_documents %}
                    <div class="radio">
                      <label class="control control--radio">
                        <input type="radio" name="existing_file" value="{{ document.docfile.url }}" checked="">
                        &nbsp;  {{ document.docfile.name }}
                        <div class="control__indicator"></div>
                      </label>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No documents.</p>
                    {% endif %}
                    <p>{{ form.non_field_errors }}</p>
                    <p>
                      {{ form.docfile.errors }}
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12">
                    <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div id="uploadLocal" class="collapse">
          <div class="well bs-component">
            <form action="{% url 'sample' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              <fieldset>
                <legend>Upload from Local </legend>

                <div class="form-group">
                  <div class="col-lg-12">
                    {% csrf_token %}

                    <p>{{ form.non_field_errors }}</p>
                    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                    <p>
                      {{ form.docfile.errors }}
                      {{ form.docfile }}
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12">
                    <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div id="uploadCDrive" class="collapse">
          <div class="well bs-component">
            <form action="{% url 'sample' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              <fieldset>
                <legend>Select a file from C Drive</legend>

                <div class="form-group">
                  <div class="col-lg-12">
                    {% csrf_token %}
                    <select id="select-cdrive-file" name="cdrive_file" class="form-control">
                      <option></option>
                      {% for cdrive_file in cdrive_files %}
                      <option value="{{ cdrive_file }}">{{ cdrive_file }}</option>
                      {% endfor %}
                    </select>
                    <p>{{ form.non_field_errors }}</p>
                    <p>
                      {{ form.docfile.errors }}
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12">
                    <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
          <div class="col-md-12">
            <br>
            <div class="alert alert-dismissible alert-danger" style="display: none">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Error: Please select a valid choice</strong>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <button type="button" value="backCDrive" id="backtoCbtn" class="btn btn-default">Back to C Drive</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br>
            </div>
          </div>


  </div>

        <!-- <div class="container">
        <div class="row">
          <div class="itemhead col-sm-12 text-center">
            <h3>Select or Upload File
              <i class="helpicon fa fa-question-circle" style="font-size: 24px;" data-toggle="modal"
                data-target="#myModal"></i>
            </h3>
          </div>
        </div>
        <form action="{% url 'sample' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="item col-sm-8 col-sm-offset-2">
              <h4 class="text-center">Select an existing file or upload from Local</h4>
              {% csrf_token %}
              {% if all_documents %}
              <ul>
                {% for document in all_documents %}
                <label style="font-weight: normal; font-size: 14px;"
                  class="control control--radio">{{ document.docfile.name }}
                  <input type="radio" name="process_file" value="{{ document.docfile.url }}">
                  <div class="control__indicator"></div>
                </label>
                {% endfor %}
              </ul>
              {% else %}
              <p>No documents.</p>
              {% endif %}

              <p>{{ form.non_field_errors }}</p>
              <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
              <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="item col-sm-4 col-sm-offset-4 text-center">
              <h1>OR</h1>
            </div>
          </div>
          <div class="row">
            <div class="item col-sm-8 col-sm-offset-2 text-center">
              <h4>Select a file from CDrive</h4>
              <select id="select-cdrive-file" name="cdrive_file">
                <option></option>
                {% for cdrive_file in cdrive_files %}
                <option value="{{ cdrive_file }}">{{ cdrive_file }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button type="submit" value="Upload" class="btn btn-success">Upload</button>
            </div>
          </div>
        </form>
      </div> -->
      {% endblock %}
      {% block script %}

      $("#backtoCbtn").click(function(){
        document.location.href = "{{ c_drive_ui_url }}";
        });


      function getUrlVars() {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
      });
      console.log(vars);
      return vars;
      }
      $( document ).ready(function() {
      $('#select-cdrive-file').select2();
      /*if(typeof $.cookie('procleaner_token') === 'undefined') {
      current_url = window.location.href;
      console.log(current_url);
      if(current_url.endsWith("/list/")) {
      window.location.href =
      "http://a250afd7c6eba11e98ea412ac368fc7a-312971903.us-east-1.elb.amazonaws.com/o/authorize/?response_type=code&client_id=JjLei3oxaRx6qtb6w1EoysY7MemGC1vCctoe24N3&redirect_uri=http://0.0.0.0:8000/myapp/list/&state=1234xyz";
      } else {
      vars = getUrlVars();
      var data = {
      "grant_type": "authorization_code",
      "code": vars["code"],
      "redirect_uri": "http://0.0.0.0:8000/myapp/list/",
      "client_id": "JjLei3oxaRx6qtb6w1EoysY7MemGC1vCctoe24N3",
      "client_secret":
      "XErdw5E9Nzok8eqI4jnkKrmtYpoPwQd5m9273HPwQ0wPQa63L5UnjFZ9CMSIwrhPTxO5TzxNVB8w2wO5LBrV88NvzNfnj3UviY3T4yojV5yhl4wzR1J96l0JLEexdS3n"
      };
      token_url = "http://a250afd7c6eba11e98ea412ac368fc7a-312971903.us-east-1.elb.amazonaws.com/o/token/";
      $.ajax({
      type: "POST",
      url: token_url,
      data: data,
      success: function(data, status) {
      console.log(data);
      $.cookie("procleaner_token", data["access_token"], {expires: data["expires_in"]});
      }
      });
      }
      } else{
      console.log("Its there!");
      }*/
      });
      {% endblock %}
