{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="itemhead col-sm-12 text-center">
      <h3>Select or Upload File
        <i class="helpicon fa fa-question-circle" style="font-size: 24px;" data-toggle="modal" data-target="#myModal"></i>
      </h3>
    </div>
  </div>
    <div class="row">
      <div class="item col-sm-8 col-sm-offset-2 text-center">
        <h4>Upload a File</h4>
        <label class="btn btn-primary btn-file">
          Browse <input type="file" name="docfile" id="upload-file" style="display: none;">
        </label>
        <div id="uploaded-file"></div>
      </div>
    </div>
    <div class="row">
      <div class="item col-sm-4 col-sm-offset-4 text-center">
        <h1>OR</h1>
      </div>
    </div>
    <div class="row">
      <div class="item col-sm-8 col-sm-offset-2 text-center">
        <h4>Select a file from CDrive</h4>
        <select id="select-cdrive-file" name="cdrive_file">
          <option></option>
          {% for cdrive_file in cdrive_files %}
            <option value="{{ cdrive_file }}">{{ cdrive_file }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button id="upload-button" type="submit" value="Upload" class="btn btn-primary">Upload</button>
        <button type="button" value="Confirm" id="confirmbtn" class="btn btn-success">Confirm</button>
        <div id="upload-message"></div>
      </div>
    </div>
  <div id="sample-tuples" class="row">
    <div class="item col-sm-4 col-sm-offset-4 text-center">
        <h4>Sample Tuples</h4>
        <table class="table table-dark table-bordered">
          <tbody>
            {% for t in sample_tuples %}
              <tr>
                <td>{{ t }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
function validateUpload(localFile, cdriveFile) {
  retVal = [];
  uploads = [];
  upload_type = ""
  upload_status = ""
  message = ""
  if(localFile != undefined) {
    uploads.push(localFile);
    upload_type = "Local";
  }
  if(cdriveFile != '') {
    uploads.push(cdriveFile);
    upload_type = "CDrive";
  }
  if(uploads.length == 0) {
    upload_status = "Error";
    message = "Please select a file to upload...";
  } else if(uploads.length == 1) {
    upload_status = "Success";
    message = upload_type;
  } else {
    upload_status = "Error";
    message = "Please select only one file to upload...";
  }
  retVal.push(upload_status);
  retVal.push(message);
  return retVal;
}
$( document ).ready(function() {
  var fileUploaded = false;
  $("#sample-tuples").hide();
  $("#upload-button").click(function() {
    var localFile = $("#upload-file")[0].files[0];
    var cdriveFile = $("#select-cdrive-file").children("option:selected").val();
    console.log(cdriveFile);
    console.log(localFile);
    retVal = []
    retVal = validateUpload(localFile, cdriveFile);
    if(retVal[0] == "Error") {
      $("#upload-message").html(retVal[1]);
      $("#upload-message").css("color", "red");
    } else {
      $("#upload-message").html("Uploading...");
      $("#upload-message").css("color", "orange");
      var uploadType = retVal[1];
      var actionurl = "{% url 'list_tuples' %}";
      var form = $("#upload-form");
      var formData = new FormData();
      if(uploadType == "Local") {
        var file = $("#upload-file")[0].files[0];
        formData.append('docfile', file);
      } else{
        formData.append('cdrive_file', cdriveFile);  
      }
      formData.append('upload_type', uploadType);
      $.ajax({
        url: actionurl,
        type: 'POST',
        dataType: 'json',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
          console.log(data);
          tableHtml = "";
          data["sample_tuples"].forEach(createTableRow);
          function createTableRow(value, index, array) {
            tableHtml = tableHtml + "<tr><td>" + value + "</td></tr>";
          }
          console.log(tableHtml);
          $("#sample-tuples div table tbody").html(tableHtml);
          $("#sample-tuples").show();
          $("#upload-message").html("Upload completed!");
          $("#upload-message").css("color", "green");
          fileUploaded = true;
        }
      });  
    }
  });
$("#confirmbtn").click(function(){
  if(fileUploaded) {
    document.location.href = "{% url 'profiler_choice' %}";
  } else {
    $("#upload-message").html("Please upload a file first...");
    $("#upload-message").css("color", "red");
  }
});
});
$(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});
$(document).ready( function() {
    $(':file').on('fileselect', function(event, numFiles, label) {
        console.log(numFiles);
        console.log(label);
        $("#uploaded-file").html(label);
    });
});
{% endblock %}
