{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
            <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
    <div class="row">
         <div class="item col-sm-8 col-sm-offset-2">
            Existing Documents to choose from (Select one or more):
                {% csrf_token %}
            {% if all_documents %}
                <ul>
                {% for document in all_documents %}
                    <li>
                      <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
                      <input style="display:inline;" type="checkbox" name="process_file" value="{{ document.docfile.url }}" />
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
                {% endif %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>
    </div>
    </div>
    <div class="row">
         <div class="col-sm-12 text-center">
            <button type="submit" value="Upload" class="btn btn-success">Upload</button>
    </div>
    </div>
            </form>
    </div>
{% endblock %}
