{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="itemhead col-sm-12 text-center">
      <h3>String Profiling and Cleaning Options
        <i class="helpicon fa fa-question-circle" style="font-size: 24px;" data-toggle="modal" data-target="#myModal"></i>
      </h3>
    </div>
  </div>
  <form action="{% url 'show_doc' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="item col-sm-4 col-sm-offset-4">         
        <h4>Please select one of the following options:</h4>
        {% for option in profiler_options %}
          <label class="control control--radio">{{ option.1 }}
            <input type="radio" name="profiler_choice" value="{{ option.0 }}">
            <div class="control__indicator"></div>
          </label>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="submit" value="Submit" class="btn btn-success">Execute</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
