{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">

    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>Debug/Detect Issues</h1>
          <p class="lead">Interesting patterns that might help you detect errors in your data</p>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="sponsor">
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootswatchcom" id="_carbonads_js"></script>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="#navbar">Navbar</a>
            <a class="list-group-item" href="#buttons">Buttons</a>
            <a class="list-group-item" href="#typography">Typography</a>
            <a class="list-group-item" href="#tables">Tables</a>
            <a class="list-group-item" href="#forms">Forms</a>
            <a class="list-group-item" href="#navs">Navs</a>
            <a class="list-group-item" href="#indicators">Indicators</a>
            <a class="list-group-item" href="#progress-bars">Progress bars</a>
            <a class="list-group-item" href="#containers">Containers</a>
            <a class="list-group-item" href="#dialogs">Dialogs</a>
          </div>
        </div>
      </div>
    </div>
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <div style="display: inline-block;">
        <div class="well">
          Total Number of Values: {{total_values}}
        </div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#missing">
          Missing Values
        </button>
        <div id="missing" class="collapse">
          <br>
          Note: Pervasiveness (in %) out of total number of values
          <br><br>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Missing Data</h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="info">
                    <td>1</td>
                    <td>Missing Values Detected</td>
                    <td>{{type_missing_values_caught}}</td>
                  </tr>
                  <tr class="info">
                    <td>2</td>
                    <td>Number of Missing Values</td>
                    <td>{{n_missing}}</td>
                  </tr>
                  <tr class="info">
                    <td>3</td>
                    <td>%(out of Total Values) of Missing Values</td>
                    <td>{{pervasiveness_missing}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"><br><br></div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <div style="display: inline-block;">
        <div class="well">
          Total Number of Non-Missing Values: {{n_values}}
        </div>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#errors">
          Pervasiveness of certain characteristics
        </button>
        <div id="errors" class="collapse">
          <br>
          Note: Pervasiveness (in %) out of number of non-missing values
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Duplicates</h3>
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="info">
                        <td>1</td>
                        <td>Some Duplicates Detected</td>
                        <td>{{duplicates}}</td>
                      </tr>
                      <tr class="info">
                        <td>2</td>
                        <td>Number of Unique Strings</td>
                        <td>{{n_uniques}}</td>
                      </tr>
                      <tr class="info">
                        <td>3</td>
                        <td>Pervasiveness of Uniques</td>
                        <td>{{pervasiveness_uniques}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Type of Strings</h3>
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for key, value in type_pervasiveness_dict.items %}
                      {% if forloop.counter > 12 %}
                      <tr class="info">
                        <td>{{forloop.counter}}</td>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                      </tr>
                      {% elif forloop.counter > 9 %}
                      <tr class="success">
                        <td>{{forloop.counter}}</td>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                      </tr>
                      {% elif forloop.counter > 6 %}
                      <tr class="info">
                        <td>{{forloop.counter}}</td>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                      </tr>
                      {% elif forloop.counter > 3 %}
                      <tr class="success">
                        <td>{{forloop.counter}}</td>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                      </tr>
                      {% else %}
                      <tr class="info">
                        <td>{{forloop.counter}}</td>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                      </tr>
                      {% endif %}

                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="item col-sm-12">

    </div>
  </div>

</div>
{% endblock %}
{% block script %}
//var jsonstr = JSON.stringify('{{ json_data }}');
//var data = JSON.parse(jsonstr)
//console.log(data['lengths']);
//var x = {{ lengths }}
//var trace = {
// x: x,
// type: 'histogram',
// };
//var data = [trace];
//Plotly.newPlot('hist-one', data)
{% endblock %}