{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="item col-sm-12"> 
    Total Number of Values: {{total_values}} <br>
    (Below % out of total number of values)
      <ol>Checking for missing values:
        <li> Number of missing values: {{n_missing}}</li>
        <li> % of missing values: {{pervasiveness_missing}}</li>
        <li> Missing values caught in the dataset: {{type_missing_values_caught}}</li>
      </ol>
      <br>
    Total Number of Non-Missing Values: {{n_values}}  <br>
    Below Statistics only on non-missing values: <br>
      <ol>Statistics on string lengths: 
      	<li>Minimum String Length: {{ stats.0 }}</li>
      	<li>Max String Length: {{ stats.1 }}</li>
      	<li>Mean String Length: {{ stats.2 }}</li>
      	<li>Standard Deviation in String Lengths: {{ stats.3 }}</li>
      	<li>Median String Length: {{ stats.4 }}</li>
      </ol>
      <div id="hist-one"></div>
    </div>
    <div class="item col-sm-12"> 
      <ol>Statistics on words in each string: 
      	<li>Total number of words across all strings: {{ stats_words.0 }}</li>
      	<li>Number of words, in string containing least number of words: {{ stats_words.1 }}</li>
      	<li>Number of words, in string containing maximum number of words: {{ stats_words.2 }}</li>
      	<li>Mean number of words: {{ stats_words.3 }}</li>
      	<li>Standard Deviation: {{ stats_words.4 }}</li>
      	<li>Median number of words: {{ stats_words.5 }}</li>
      	<li>Number of words beginning with capital letter: {{ num_capitals }} </li>
      </ol>
      <div id="hist-two"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
//var jsonstr = JSON.stringify('{{ json_data }}');
//var data = JSON.parse(jsonstr)
//console.log(data['lengths']);
var x = {{ lengths }}
var trace = {
    x: x,
    type: 'histogram',
  };
var data = [trace];
Plotly.newPlot('hist-one', data)

var x_words = {{ lengths_words }}
var trace_words = {
    x: x_words,
    type: 'histogram',
  };
var data_words = [trace_words];
Plotly.newPlot('hist-two', data_words)
{% endblock %}
