{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Upload a file
        </h1>
        <p class="lead">Choose from amongst the two options</p>
      </div>
    </div>
  </div>
  <div class="row">
      
    <div class="col-md-3 col-md-offset-3 text-center">
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadLocal">
        Upload from Local
      </button>
    </div>
    <div class="col-md-3 text-center">
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadCDrive">
        Upload from C Drive
      </button>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div id="uploadLocal" class="collapse">
        <div class="well bs-component">
          <form action="{% url 'sample' %}" onsubmit="return validateFormLocal()" method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
              <legend>Upload from Local </legend>
              <div class="form-group">
                <div class="col-lg-12">
                    <p>{{ form.non_field_errors }}</p>
                    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                    <p>
                      {{ form.docfile.errors }}
                      {{ form.docfile }}
                    </p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12">
                  <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div id="uploadCDrive" class="collapse">
        <div class="well bs-component">
          <form action="{% url 'sample' %}" onsubmit="return validateFormCDrive()" method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
              <legend>Select a file from C Drive</legend>
              <div class="form-group">
                <div class="col-lg-12">
                  <select id="select-cdrive-file" name="cdrive_file" class="form-control">
                    <option></option>
                    {% for cdrive_file in cdrive_files %}
                    <option value="{{ cdrive_file }}">{{ cdrive_file }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12">
                  <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="errorBox" class="col-md-12" style="display:none;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" value="backCDrive" id="backtoCbtn" class="btn btn-default">Back to C Drive</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
function validateFormCDrive() {
  var localFile = $("#id_docfile")[0].files[0];
  var cdriveFile = $("#select-cdrive-file").children("option:selected").val();
  var isValid = true;
  if(localFile != undefined) {
    isValid = false;
    if(cdriveFile === '') {
      errorMessage = "Error: Please select a file from CDrive or click on the Submit button for uploading local file.";
    } else {
      errorMessage = "Error: Please select only one option to upload the file (Local or CDrive).";
    }
  } else {
    if(cdriveFile === '') {
      isValid = false;  
      errorMessage = "Error: Please select a file from CDrive.";
    }
  }
  if(!isValid) {
    errorBoxHtml = "<br> \
          <div class=\"alert alert-dismissible alert-danger\"> \
            <button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button> \
            <strong id=\"errorMessage\"></strong> \
          </div>";
    $("#errorBox").html(errorBoxHtml);
    $("#errorMessage").html(errorMessage);
    $("#errorBox").show();
  }
  return isValid;
}
function validateFormLocal() {
  var localFile = $("#id_docfile")[0].files[0];
  var cdriveFile = $("#select-cdrive-file").children("option:selected").val();
  var isValid = true;
  if(cdriveFile != '') {
    isValid = false;
    if(localFile === undefined) {
      errorMessage = "Error: Please select a file locally or click on the Submit button for uploading file from CDrive.";
    } else {
      errorMessage = "Error: Please select only one option to upload the file (Local or CDrive).";
    }
  } else {
    if(localFile === undefined) {
      isValid = false;  
      errorMessage = "Error: Please select a file from Local.";
    } else if(localFile.size === 0) {
      isValid = false;  
      errorMessage = "Error: The uploaded file is empty.";
    }
  }
  if(!isValid) {
    errorBoxHtml = "<br> \
          <div class=\"alert alert-dismissible alert-danger\"> \
            <button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button> \
            <strong id=\"errorMessage\"></strong> \
          </div>";
    $("#errorBox").html(errorBoxHtml);
    $("#errorMessage").html(errorMessage);
    $("#errorBox").show();
  }
  return isValid;
}
$(document).ready(function() {
  $("#backtoCbtn").click(function(){
    $.ajax({
      type: "POST",
      url: '/myapp/exit_app/',
      success: function(data) {
        document.location.href = "{{ c_drive_ui_url }}";
      }
    });
  });
});
{% endblock %}
